<div class="page-container">
  <div class="title">Prestation</div>

  <app-custom-table
    [headers]="tableHeaders"
    [data]="services"
    [itemsPerPage]="30"
    (rowClick)="onRowClick($event)"
    [height]="height"
  >
    <ng-template let-item>
      <td class="first-column">{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.estimateDuration }}</td>
      <td>
        <span
          class="category-chip"
          [style.backgroundColor]="item.category.backgroundColor"
          [style.borderColor]="item.category.borderColor"
          [style.color]="item.category.color"
        >
          {{ item.category.name }}
        </span>
      </td>
    </ng-template>
  </app-custom-table>
</div>
