<div class="page-container">
    <div class="title">Transaction</div>

    <app-custom-table [headers]="tableHeaders" [data]="transactions" [itemsPerPage]="30">
        <ng-template let-item>
            <td class="first-column">{{ item._id }}</td>
            <td class="first-column">{{ item.part_id.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
                {{ item.type }}
            </td>
            <td>{{ item.transaction_date }}</td>
        </ng-template>
    </app-custom-table>
</div>