<div class="flex flex-col w-full justify-center gap-4 items-center">
    <header class="flex flex-col w-full items-center ">
        <div class="flex w-full justify-items-start">
            <span class="font-semibold space-y-2" style="font-size: 23px;">Historique de commande</span>
        </div>
        <div class="flex w-full gap-3">
            <div class="flex gap-2 mt-5 items-center">
                <div>
                    <label for="startDate">De:</label>
                    <input type="date" id="startDate"
                        class="border border-gray-200 w-full rounded-md p-2 focus:outline-none focus:ring focus:ring-gray-400 text-gray-900"
                        [(ngModel)]="startDate" (change)="onStartDateChange($event)" />
                </div>
                <div>
                    <label for="startDate">À:</label>
                    <input type="date" id="startDate"
                        class="border border-gray-200 w-full rounded-md p-2 focus:outline-none focus:ring text-gray-900 focus:ring-gray-400"
                        [(ngModel)]="endDate" (change)="onStartDateChange($event)" />
                </div>
                <div class="mt-6 flex gap-3">
                    <button
                        class="bg-gray-800 text-white h-10 px-4 cursor-pointer rounded-md hover:bg-gray-700 transition-all duration-200 ease-in-out"
                        (click)="onSearch()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span class="ml-2">Rechercher</span>

                    </button>
                    <button
                        class="border-gray-900 border text-gray-900 h-10 px-4 cursor-pointer rounded-md hover:bg-gray-50 transition-all duration-200 ease-in-out"
                        (click)="resetQueryParamsFilter()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span class="ml-2">Effacer filtres</span>

                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="w-full">
        <div>
            <input type="text" placeholder="Rechercher"
                class="border border-gray-200 w-full rounded-md p-2 focus:outline-none focus:ring text-gray-900 focus:ring-gray-400"
                [(ngModel)]="searchTerm" />
        </div>
    </div>
    <div class="mt-4 w-full">
        <app-custom-table [headers]="tableHeaders" [data]="supplierOrders" [height]="height"
            [itemsPerPage]="itemsPerPage">
            <ng-template let-item>
                <td class="first-column">{{ item._id }}</td>
                <td>{{ item.ticket_number }}</td>
                <td class="flex justify-items-start">{{ item.supplier_id.name }}</td>
                <td>{{ formatPricePrettier(item.total_amount) }}</td>
                <td>0%</td>
                <td>
                    @if(item.status==='PENDING'){
                    <span class="px-2 py-1 rounded-xl w-14 text-amber-800 bg-amber-100" style="font-size: 10px;">
                        En attente
                    </span>
                    }@else if(item.status==='CANCELLED'){
                    <span class="px-2  py-1 rounded-xl text-red-800 bg-red-100" style="font-size: 10px;">
                        Annulée
                    </span>
                    }
                    @else if(item.status==='DELIVERED'){
                    <span class="px-2  py-1 rounded-xl text-green-800 bg-green-100" style="font-size: 10px;">
                        Livrée
                    </span>
                    }
                    @else if(item.status==='PARTIALLY_DELIVERED'){
                    <span class="px-2  py-1 rounded-xl text-purple-800 bg-purple-100" style="font-size: 10px;">
                        Partiellement livrée
                    </span>
                    }
                </td>
                <td>{{ item.order_date | date: 'dd/MM/yyyy' }}</td>

            </ng-template>
        </app-custom-table>
    </div>

</div>