<div class="w-full h-full flex flex-col  justify-center gap-4">
  <div class="flex w-full justify-center items-center">
    <div class="text-blue-600 p-1 w-56 rounded-2xl bg-blue-100 text-xs text-center " style="font-size: 12px;">
      Enregistrement de la livraison
    </div>
  </div>
  <div class="w-full flex justify-center items-center">
    <div class="w-3/5 flex p-2 justify-between items-center">
      <div class="flex flex-col gap-1 justify-center items-center">
        <div class="w-5 h-5 rounded-full   flex  justify-center items-center gap-7"
          [ngClass]="currentStep===1 ? 'bg-blue-600' : 'bg-gray-200' ">
          <span class="w-2 h-2 rounded-full bg-white flex justify-center items-center ">
          </span>
        </div>
        <h1 class="font-semibold">
          Général
        </h1>
        <p>
          <span class="text-gray-500 text-sm">Informations de livraison</span>
        </p>

      </div>
      <div class="flex flex-col gap-1 justify-center items-center">
        <div class="w-5 h-5 rounded-full   flex  justify-center items-center gap-7"
          [ngClass]="currentStep===2 ? 'bg-blue-600' : 'bg-gray-200' ">
          <span class="w-2 h-2 rounded-full bg-white flex justify-center items-center ">
          </span>
        </div>
        <h1 class="font-semibold">
          Détails
        </h1>
        <p>
          <span class="text-gray-500 text-sm">Détails livraison</span>
        </p>

      </div>
      <div class="flex flex-col gap-1 justify-center items-center">
        <div class="w-5 h-5 rounded-full  flex  justify-center items-center gap-7"
          [ngClass]="currentStep===3 ? 'bg-blue-600' : 'bg-gray-200' ">
          <span class="w-2 h-2 rounded-full bg-white flex justify-center items-center ">
          </span>
        </div>
        <h1 class="font-semibold">
          Vérification
        </h1>
      </div>
    </div>

  </div>
  <div class="w-full flex justify-center items-center">
    @if (action==="create") {
    @if(currentStep===1){
    <app-general-info (onNext)="goToNextStep($event)" ></app-general-info>
    } @else if (currentStep=== 2) {
    <app-details (onNext)="goToVerificationStep($event)" [pieces]="pieces"></app-details>
    }@else if (currentStep===3) {
    <app-verification [general]="deliveryGeneral" [details]="deliveryDetails"></app-verification>
    }
    }

  </div>
</div>