<div class="statistics-container">
  @for (statisticPerStatus of appointmentCountPerStatus; track statisticPerStatus) {
    <div class="statistic-card">
      <div class="statistic-action">{{utils.getStatusLabel(statisticPerStatus.action)}}</div>
      <div class="statistic-count">{{statisticPerStatus.count}}</div>
    </div>
  }
</div>

<div class="dashboard-grid">
  <div class="calendar-section">
    <div class="calendar-content">
      <div class="title-section">
        <span class="title">Planning mensuel</span>
        <span class="subtitle">Rendez-vous confirmés en attente de réparation</span>
      </div>
      <app-calendar
        [appointmentCounts]="appointmentCounts"
        [currentMonth]="currentMonth()"
        [currentYear]="currentYear()"
        (monthChanged)="handleMonthChange($event)"
      ></app-calendar>
    </div>
  </div>
  <div class="info-section">
    <div class="chart-section">
      <div class="info-card">
        <div class="title-section">
          <span class="title">Répartition des services</span>
          <span class="subtitle">Distribution par catégorie (mois en cours)</span>
        </div>
        <div class="placeholder-content">
          @if (servicePercentageByCategories.length >0) {
            <app-donut-chart [data]="servicePercentageByCategories"></app-donut-chart>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="info-section">
    <div class="chart-section">
      <div class="info-card">
        <div class="title-section">
          <span class="title">Évolution du chiffre d'affaires</span>
          <span class="subtitle">Revenus quotidiens (20 derniers jours)</span>
        </div>
        <div class="placeholder-content">
          @if (dailyRevenue.length >0) {
            <app-line-chart [data]="formattedDailyRevenue"></app-line-chart>
          }
        </div>
      </div>
    </div>
  </div>
</div>
